/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #D86B7E	 /* #f5f5f5 */;
}

.text-muted {
	margin: 20px 0;
}
/* Main styles
-------------------------------------------------- */
.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.underline {
    max-width: 400px;
    border-color: #999999;
}

/* Custom colors
-------------------------------------------------- */
.navbar-inverse {
	background-color: #B82C62;
}

body {
	background-image: url('../img/pink.jpg');
	background-size: cover;
	background-attachment: fixed;
	
}

.btn-primary {    
    background-color: #B82C62;
    border-color: #B82C62;
}