<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="30 seconds">

	<property name="LOG_HOME" value="file:/home/work/JavaProjects/logs/JShop" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%-5level %logger{0} - %msg%n</pattern>
		</encoder>
		<file>${LOG_HOME}/error.log</file>
		
	</appender>

	<logger name="org.springframework" level="TRACE" />
	<logger name="org.springframework.web" level="TRACE" />		
	 
	<root level="trace">
		<appender-ref ref="console" />
	</root>

</configuration>