<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="30 seconds">

	<property name="LOG_HOME" value="file:/home/work/JavaProjects/logs/JShop" />

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<encoder>
			<pattern>%-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="file"
		class="org.apache.log4j.RollingFileAppender">
		<encoder>
			<pattern>%-5level %logger{0} - %msg%n</pattern>
		</encoder>
		<file>./error.log</file>

	</appender>

	<logger name="org.springframework" level="DEBUG" />
	<logger name="org.springframework.web" level="DEBUG" />

	<root level="trace">
		<appender-ref ref="file" />
	</root>

	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
	</root>

	<category name="p6spy">
		<priority value="DEBUG" />
	</category>

</configuration>