/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	
	background-color: #D86B7E	 /* #f5f5f5 */;
}

.text-muted {
	margin: 20px 0;
}
/* Main styles
-------------------------------------------------- */
.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.underline {
    max-width: 400px;
    border-color: #999999;
}

/* category page
------------------------------*/
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    /* height: 130px; */
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}


.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

/*
Sidebar
-------------------------------------------------- */
nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }
  
  
  @media (min-width: 765px) {

    
    /* nav.sidebar:hover + .main{
      margin-left: 200px;
    } */

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    /* nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    } */

    /* nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    } */

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    /* nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    } */

   /*  nav.sidebar li {
      width: 100%;
    } */

    nav.sidebar:hover{
      margin-left: 0px;
    }

    /* .forAnimate{
      opacity: 0;
    } */
  }
  @media (min-width:992px){
  nav.sidebar li {
      width: 100%;
  }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
  .dropdown-custom-sub {
    position: relative;
}

.dropdown-custom-sub>.dropdown-custom-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 2rem;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-custom-sub:hover>.dropdown-custom-menu {
    display: block;
}

.dropdown-custom-sub>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-custom-sub:hover>a:after {
    border-left-color: #fff;
}

.dropdown-custom-sub.pull-left {
    float: none;
}

.dropdown-custom-sub.pull-left>.dropdown-custom-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Custom colors
-------------------------------------------------- */
.navbar-inverse {
	background-color: #B82C62;
	border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffcff3;
}

.navbar-inverse .navbar-brand {
    color: #ffcff3;
}

body {
	background-image: url('../img/pink.jpg');
	background-size: cover;
	background-attachment: fixed;
	
    color: #607d8b;
}
	
}

.btn-primary {    
    background-color: #B82C62;
    border-color: #B82C62;
}

.hero-feature img {
    height: 150px !important;
}
.stars {
    font-size: 24px;
    color: #d17581;
}

.popup-wrapper {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px #a65cb9;
  overflow: hidden;
}

.popup-title {
  padding: 10px 15px;
  background-color: #9f539b;
  border-bottom: 1px solid #f0f0f0;
}

.popup-title h3 {
  margin: 0;
  line-height: 1.5em;
  color: #333;
}

.popup-body {
  padding: 2rem;
  color: #555;
}

.popup-close {
  float: right;
  margin-top: 2px;
  padding: 0;
  font-size: 24px;
  line-height: 1;
  border: 0;
  background: transparent;
  color: #aaa;
  cursor: pointer;
}

.popup-close:hover { color: #333; }